<div>
  <button style="float:right; background-color: red;" (click)="close()"><mat-icon>close</mat-icon></button>

  <app-search-bar style=" display: block;margin: 20px 10px;" (dataToParent)="receiveListName($event)"
  [label]="'list name'"
  [placeholder]="'List N°'"
  ></app-search-bar>

  <app-search-bar style=" display: block;margin: 20px 10px;" (dataToParent)="receiveData($event)"
  [label]="'search your game'"
  [placeholder]="'ex: \'Outer wilds\''"
  ></app-search-bar>

  <mat-list>
    <div *ngFor="let game of reponse">
      <mat-list-item>
        <app-game-item class="game-item" [game]="game" (addGame)="onAddGame($event)" (removeGame)="onRemoveGame($event)" [gamesSelected]="addedGames" ></app-game-item>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>

</div>

