<mat-toolbar color="primary">
  <span class="spacer"></span>

  @if (currentUser()) {
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Se déconnecter
      </button>
    </mat-menu>
  } @else {
    <button mat-icon-button (click)="openAuthDialog()">
      <mat-icon>account_circle</mat-icon>
    </button>
  }
</mat-toolbar>
