<div
  class="hero-banner"
  [style.background-image]="backgroundImage"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.drag-over]="isDragging">
  <div class="drop-overlay" [class.dragging]="isDragging">
    <span class="drop-overlay__icon">🖼️</span>
    <span class="drop-overlay__text">{{ isDragging ? 'Relâchez pour changer l\'image' : 'Glissez une image pour personnaliser' }}</span>
  </div>
</div>


<table>
  <tbody>
    <tr>
      <th class="case">
        <button mat-raised-button (click)="OpenPopup()">+</button>
      </th>
      <th class="case"></th>
      <th class="case"></th>
    </tr>
    <tr>
      <th class="case"></th>
      <th class="case"></th>
      <th class="case"></th>
    </tr>
    <tr>
      <th class="case"></th>
      <th class="case"></th>
      <th class="case"></th>
    </tr>
  </tbody>
</table>
