<h2 mat-dialog-title>Mon compte</h2>

<mat-dialog-content>
  <mat-tab-group>

    <mat-tab label="Connexion">
      <div class="tab-form">
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput [(ngModel)]="loginUsername" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="loginPassword" />
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="onLogin()">Se connecter</button>
      </div>
    </mat-tab>

    <mat-tab label="Inscription">
      <div class="tab-form">
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput [(ngModel)]="registerUsername" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="registerPassword" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="registerConfirm" />
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="onRegister()">S'inscrire</button>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>
