<h1 class="border">{{listGame.listName}}</h1>


  <ul class="item-apercu-list" *ngIf="listGame.listGames[0]">
    <img src="{{listGame.listGames[0].backgroundImage}}" style="width: 35px; height: 35px">
    {{listGame.listGames[0].name}}
  </ul>
  <ul class="item-apercu-list" *ngIf="listGame.listGames[1]">
    <img src="{{listGame.listGames[1].backgroundImage}}" style="width: 35px; height: 35px">
    {{listGame.listGames[1].name}}
  </ul>
  <ul class="item-apercu-list" *ngIf="listGame.listGames[2]">
    <img src="{{listGame.listGames[2].backgroundImage}}" style="width: 35px; height: 35px">
    {{listGame.listGames[2].name}}
  </ul>
