<h1 class="border">{{gamesList.name}}</h1>


  <ul class="item-apercu-list" *ngIf="gamesList.games[0]">
    <img src="{{gamesList.games[0].backgroundImage}}" style="width: 35px; height: 35px">
    {{gamesList.games[0].name}}
  </ul>
  <ul class="item-apercu-list" *ngIf="gamesList.games[1]">
    <img src="{{gamesList.games[1].backgroundImage}}" style="width: 35px; height: 35px">
    {{gamesList.games[1].name}}
  </ul>
  <ul class="item-apercu-list" *ngIf="gamesList.games[2]">
    <img src="{{gamesList.games[2].backgroundImage}}" style="width: 35px; height: 35px">
    {{gamesList.games[2].name}}
  </ul>
