.game-item-container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  img {
    border-radius: 4px;
    object-fit: cover;
  }

  .game-name {
    flex: 1;
    font-weight: 500;
  }
}
